<div class="device-filter">
  <button [matMenuTriggerFor]="menu" class="device-filter-btn">
    <span>{{ selectedDeviceType === 'total' ? 'All Devices' : selectedDeviceType === 'desktop' ? 'Desktop Only' : 'Mobile Only' }}</span>
    <mat-icon class="dropdown-icon">expand_more</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    @for (type of deviceTypes; track type.value) {
      <button mat-menu-item (click)="onDeviceTypeChange(type.value)">
        <mat-icon>{{ type.value === 'total' ? 'devices' : type.value === 'desktop' ? 'desktop_windows' : 'smartphone' }}</mat-icon>
        <span>{{ type.label }}</span>
      </button>
    }
  </mat-menu>
</div>
